ul.gallery {
    padding: 0;
    margin: 0;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(2, 3fr);
    grid-template-rows: auto 1fr auto;
    grid-auto-flow: dense;

    @media screen and (min-width: 400px) {
        grid-template-columns: repeat(3, 1fr);
    }

    @media screen and (min-width: 600px) {
        grid-template-columns: repeat(4, 1fr);
    }

    @media screen and (min-width: 800px) {
        grid-template-columns: repeat(5, 1fr);
    }

    @media screen and (min-width: 1024px) {
        grid-template-columns: repeat(6, 1fr);
    }

    li {
        list-style-type: none;
        position: relative;
        overflow: hidden;

        &:before {
            display:block;
            content: '';
            padding-top: 150%;
        }
    }

    a {
        display: block;
        position: absolute;
        top: 0; left: 0; right: 0; bottom: 0;
    }

    img {
        display: block;
        width: auto;
        height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}