html {
	font: var(--font-size-initial)/1.5 'Roboto', Helvetica, sans-serif;
}

@media screen and (min-width: 500px) {
	html { font-size: var(--font-size-lv2); }
}

@media screen and (min-width: 700px) {
	html { font-size: var(--font-size-lv3); }
}

@media screen and (min-width: 1600px) {
	html { font-size: var(--font-size-lv4); }
}

body, table, th, td, form, input, textarea, option, select {
	font: inherit;
}

.site-title,
h1, h2, h3, h4, h5, h6 {
	margin: 1em 0 0.5em 0;
	padding: 0;
}

$headings: (h1: 2.441em, h2 : 1.953em, h3: 1.563em, h4: 1.25em, h5: 1em, h6: 1em);

@each $heading, $size in $headings {
	#{$heading} { font-size: $size; }
}

h5, h6 { font-weight: bold; }

p {
	margin: 0;
	padding-bottom: 1.5rem;
}

ol, ul, dl {
	margin: 0 0 1.5rem 0;
}

ul, ol {
	padding: 0;
	margin-left: 1.5rem;
}

ul li, ol li {
	list-style-position: inside;
}

ul ul {
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}

ul li { list-style-type: square; }
ul ul li { list-style-type: disc; }
ul ul ul li { list-style-type: circle; }

blockquote {
	width: 40%;
	min-width: 15rem;
	border-left: 4px solid #DDD;
	font-style: italic;
	padding: 1rem 2rem;
	position: relative;
	color: #444;
	font-family: "Georgia", serif;
	padding-top: 0;
}

blockquote .author {
	text-align: right;
}

table {
	width: 100%;
	table-layout: fixed;
	margin-bottom: 1.5rem;
	border: 1px solid #CCC;
	border-spacing: 0;
	border-collapse: collapse;

	td, th {
		border: 1px solid #CCC;
		padding: 0.3rem 0.5rem;
	}

	thead th {
		text-align: left;
		background: #CCC;
	}

	tr:nth-child(odd) td {
		background: #F1F1F1;
	}

	tr:hover td {
		background: black;
		color: #FFF;
		border-color: transparent;
	}
}

hr {
	margin: 2rem 0;
}

img[class^='align'] {
	padding: 0.5rem;
	background: #FFF;
	border: 3px solid #222;
	box-shadow: 0 0 5rem 0.1rem rgba(0, 0, 0, 0.25);
}

.align-left {
	float: left;
	margin: 0 1.5rem 1rem 0;
}

.align-right {
	float: right;
	margin: 0 0 1rem 1.5rem;
}