<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />
    <title>{{ site.title }}</title>
    <script src="{{ site.baseurl }}/js/jquery.min.js"></script>
    <link rel="stylesheet" href="{{ site.baseurl }}/css/styles.css" type="text/css" />
</head>
<body class="{{page.title | slugify}}">
    {% include_relative /_layouts/header.html %}
    <main>
        {{content}}
    </main>
    {% include_relative /_layouts/footer.html %}
</body>
</html>